[build]
  publish = "dist"
  command = "npm run build"

[[headers]]
  for = "/*"
  [headers.values]
    Content-Security-Policy = "frame-ancestors 'self' https://www.notion.so https://www.notion.site"
    X-Frame-Options = "ALLOWALL"
